<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
<% if @recipe.user == current_user %>
	<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
	<%= link_to 'Back', recipes_path %>
<% end %>
