<div class="jumbotron center">
	<h1>Welcome to Project CookBook!</h1>
	<br />
	<p><%= link_to "Sign in", "#", class: "btn btn-primary btn-lg" %> or <%= link_to "Sign up", "#", class: "btn btn-success btn-lg" %></p>
</div>